.footer {
  background: #f1f1f1;
  color: #00000099;  ;
  padding: 20px 40px;
  font-family: 'Poppins', sans-serif;
}

.footer__top {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.footer__main {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.footer__brand {
  flex: 1 1 240px;
}

.footer__logo {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer__description {
  font-size: 14px;
  margin-bottom: 20px;
}

.footer__socials img {
  width: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.footer__links {
  display: flex;
  flex: 3 1 600px;
  gap: 2rem;
  flex-wrap: wrap;
}

.footer__column {
  min-width: 120px;
}

.footer__heading {
  font-weight: 600;
  margin-bottom: 12px;
}

.footer__column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__column li {
  margin-bottom: 10px;
  font-size: 14px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  font-size: 14px;
}

.footer__payments img {
  width: 40px;
  margin-left: 10px;
}


@media (max-width: 768px) {
  .footer__main {
    flex-direction: column;
    gap: 2rem;
  }

  .footer__brand {
    text-align: center;
  }

  .footer__socials {
    justify-content: center;
    display: flex;
  }

  .footer__links {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .footer__column {
    text-align: center;
  }

  .footer__bottom {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .footer__payments {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .footer__payments img {
    margin: 0 5px;
    margin-top: 10px;
  }
}
